---
layout: default
---

{% assign prev_category = null %}

<div class="hero">
  <h4>{{ site.title }}</h4>
</div>


{% for category in page.sets %}

<div class="section row container">
    <div class="collection-header">
        <h2>{{category[0]}}</h2>
    </div>
</div>

<div class="section row container">
    {% for set in category[1] %}

    <div>
        <div class="img-frame">
            <div>
                <a href="{{set['path']}}">
                    <img src="{{set['primary_image'].src}}"/>
                </a>
            </div>
            <a href="{{set['path']}}">
                <h5>{{set['title']}}</h5>
                <div class="description">{{set['primary_image'].description}}</div>
            </a>
        </div>
    </div>

    {% endfor %}

</div>

{% endfor %}